# Dependencies
node_modules/

# Build output
dist/
build/

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.env.local

# Logs
logs
*.log
npm-debug.log*

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
